<div class="p-3 m-3 d-inline-block">
    <%= form_with(model: post, local: true) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class="mb-3">
      <% form.label :description, class:"form-label" %>
      <%= form.text_field :description, class:"form-control", placeholder:"Description" %>
    </div>

    <div class="mb-3">
      <% form.label "Image", for:"formfile", class:"form-label" %>
      <%= form.file_field :post_image, class:"form-control", type:"file", id: "formfile" %> <br>
    </div>

    <div class="actions">
        <%= form.submit "Submit Post", class: 'btn btn-outline-dark' %>|<%= link_to 'Back', posts_path, class:"btn btn-outline-danger"%>
    </div>
      <br>
    <% end %>
</div>