<p id="notice"><%= notice %></p>
  <% @posts.each do |post| %> 
  <table style=" margin-left: auto; margin-right: auto;">
    <tbody>
      <tr>
        <td>
          <div class="container">
            <%= post.account.username %>
              <div class="btn-group dropend" style="background: none; color: black; border: none;">
              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              </button>
              <ul class="dropdown-menu">
                <% if current_account.id == post.account.id%>
                  <li><%= link_to 'Edit', edit_post_path(post), class:"dropdown-item" %></li>
                  <li><%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_post', class:"dropdown-item"%></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                <%else%>

                  <!-- Have to add something which can be used to hide post, or goto post, block user -->
                  
                <%end%>
              </ul>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td> 
            <% if post.post_image.attached? %>
            <!-- need to find a way to resize the image while keeping it clickable -->
              <%link_to image_tag(post.post_image), post%>
              <%= image_tag(post.post_image, {:style => "height:400; width:550px; crop:fill;"})%>
            <% else %>
              <h1>Hello</h1>
            <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= post.account.username %>:</strong> <%= post.description %>
        </td>
      </tr>
      
      <tr>
        <td>
          <% pre_like = post.likes.find { |like| like.account_id == current_account.id}%>
            <% if pre_like %>
              <%= button_to "/posts/#{post.id}/likes/#{pre_like.id}", class:"btn btn-block btn-outline-primary", method: :delete do %>
                <i class="fa fa-thumbs-up liked">Liked</i>
              <%end%>
            <%else%>
              <%= button_to post_likes_path(post.id), class:"btn btn-block btn-light border-primary" , method: :post do%>
                <i class="fa fa-thumbs-up">Like</i>
            <% end %>
          <%end%>
            <%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
        </td>
      </tr>
    <% end %>
    </tbody>
    <br><br>
  </table>

<%= link_to "Add Friend", friendships_path(:friend_id => @account), :method => :post %>
  <br><br><br><br>


