<p id="notice"><%= notice %></p>
<br><br><br>
<div class="text-center">
  <% if @post.post_image.attached? %>
    <image src="<%=(url_for(@post.post_image))%>" width="500" height="300" crop="fill">
  <% else %>
    <h1>Hello</h1>
  <% end %>
  <br>
  <strong><%= @post.account.username %>:</strong> <%= @post.description %>

  <br><br>
<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-outline-secondary" %> |
<%= link_to 'Back', posts_path, class:"btn btn-outline-danger" %> | 
<%= link_to 'comment', new_post_comment_path(@post), class:"btn btn-outline-dark"%>
</div>

