<p id="notice"><%= notice %></p>
<br><br><br>
<div class="text-center">
  <% if @post.post_image.attached? %>
    <image src="<%=(url_for(@post.post_image))%>" width="500" height="300" crop="fill">
  <% else %>
    <h1>Hello</h1>
  <% end %>
  <br>
  <strong><%= @post.account.username %>:</strong> <%= @post.description %>
  <br>

  <div class="align-text-left">
    <h4>Comments:</h4>
    <% @comments.each do |comment| %>
            <%if  @post.id == comment.post_id%>
              <strong><%= comment.account.username %>:</strong> <%= comment.user_comment %> 
              <%= button_to "delete", post_comment_path(@post.id, comment.id), method: :delete, data: {confirm: 'are you sure?'} %>
              <br>
            <%else%>

           <%end%>
    <% end %>
  </div>
  <br>
<%= render partial: "comments/form", locals: {post: @post, comment: Comment.new}%>
  <br>
<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-outline-secondary" %> |
<%= link_to 'Back', posts_path, class:"btn btn-outline-danger" %>
<br>
</div>

